@import "../../Constants/Style/Main";

.password-add {
  padding-top: 50px;

  &__title {
    margin: 0;
    max-width: 500px;
  }

  &__inner {
    display: flex;
  }

  &__folders {
    padding-left: 20px;
    width: 50%;
    border-left: 1px solid $color_gray;
  }
}

.password-add-form {
  box-sizing: border-box;
  padding-right: 20px;
  width: 50%;

  &__button {
    margin-top: 20px;
  }
}
