$color_black: #000000;

$color_red_dark: #8E5454;
$color_red: #A20000;

$color_blue: #394F70;
$color_blue_light: #7493A9;

$color_gray_dark: #484848;
$color_gray: #AFAFAF;
$color_gary_light: #E4E4E4;
$color_gary_light_extra: #EFEFEF;