$color_black: #000000;

$color_red_dark: #8E5454;
$color_red: #A20000;
$color_red_light: #DC3030;

$color_blue_dark: #213451;
$color_blue: #394F70;
$color_blue_light: #7493A9;

$color_gray_dark: #484848;
$color_gray: #AFAFAF;
$color_gray_light: #E4E4E4;
$color_gray_light_extra: #EFEFEF;

$color_green_dark: #0F8C23;
$color_green: #37AB65;
$color_green_light: #21A48C;
$color_green_light_extra: #9cbda4;