@import "./Constants/Style/Main";

.main {
  height: 100vh;
  width: 100vw;
  background-color: $color_gary_light_extra;
}

//.main-block {
//  width: 60px;
//  height: 60px;
//  position: relative;
//  left: 10px;
//  top: 10px;
//  .icon-theme {
//  }
//}