@import "../../../Constants/Style/Main";

.button {
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 0;
  min-width: 180px;
  min-height: 40px;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  background: none;
  text-decoration: none;
  @include Roboto_Default;
  color: $color_gray_light_extra;
  @include transition(background-color);

  @include media_interval(0, $breakpoint_mobile) {
    padding: 12px 0;
  }

  &.button--transparent {
    background-color: transparent;
    min-height: 0;
    min-width: 0;
    text-align: left;
  }

  &--text-gray {
    color: $color_gray;
    @include transition(color);

    &:hover {
      color: $color_green;
    }
  }

  &--w100 {
    width: 100%;
  }

  &--blue {
    background-color: $color_blue_light;

    &:hover,
    &:focus {
      background-color: $color_blue;
    }

    &:active {
      background-color: $color_blue_dark;
    }
  }

  &--red {
    background-color: $color_red_dark;

    &:hover,
    &:focus {
      background-color: $color_red;
    }

    &:active {
      background-color: $color_red_light;
    }
  }

  &--green {
    background-color: $color_green_dark;

    &:hover,
    &:focus {
      background-color: $color_green;
    }

    &:active {
      background-color: $color_green_light;
    }

    &[disabled] {
      background-color: $color_green_light_extra;
      cursor: default;
    }
  }
}